<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ /Almacen/index.php?url=$1 [L,QSA]
Options All -Indexes
ErrorDocument 404 /Almacen/view/404/404.php
ErrorDocument 403 /Almacen/view/404/404.php
</IfModule>