body{
    background: white;
    font-family: Helvetica, Arial;
    text-align: center;
    padding: 20vh;
}

h1{
    color:#4a4a4a;
    font-size: 72px;
}

h3{
    color:#4a4a4a;
    margin: 40px 0;
}

.btn{
    background-color: #396fcc;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    text-decoration: none;
}
