@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 3vmax;
    height: fit-content;
}

body{
    background-color: rgb(241, 241, 241);
}

body::-webkit-scrollbar{
    width: 10px;
    height: 10px; 
    background-color: white;
}

body::-webkit-scrollbar-thumb{
    width: 10px;
    height: 10px; 
    background-color: #037ef3;
    border-radius: 10px;
}

#result{
    width: 100%;
    height: fit-content;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    color: #444;
    font-weight: 600;
    padding: 10px 0;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0, 20%);
}

#resultCategory{
    width: 100%;
    height: fit-content;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    color: #444;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0, 20%);
    justify-content: center;
}

#resultCategory2{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    margin-bottom: 30px;
    color: #444;
    font-weight: 600;
    justify-content: center;
}

#resultCategory2::after{
    content: "";
    position: absolute;
    width: 70%;
    bottom: -5px;
    border-bottom: 1px solid #777;
}

#represion{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.sessionCategory{
    width: 100%;
    height: fit-content;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 15px 0;
    padding-right: 30px;
    border-radius: 10px;
    padding: 20px 0;
    transition: .2s;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0, 20%);
}

.articleView:hover{
    cursor: pointer;
    color: rgb(248, 90, 64);
}

.agrupar{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cajaCategoria::-webkit-scrollbar{
 visibility: hidden;
}


.articleView{
    width: 130px;
    height: fit-content;
    background-color: white;
    display: block;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 20px 40px;
    border-radius: 10px;
}

.sessionCategory div img{
    border-radius: 10px;
    width: 100%;
    height: 120px;
    position: relative;
}

.nameView{
    width: 90%;
    height: fit-content;
    max-height: 50px;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    overflow: hidden;
    word-break:break-all;
}

.descripcionView{
    width: 90%;
    max-height: 40px;
    font-size: 13px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}


.priceView{
    font-size: 20px;  
}


.vacio{
    text-align: center;
    font-size: 16px;
}


#paginacion{
    display: flex;
    width: 100%;
    justify-content: center;
}

#paginacion a{
    background-color: #037ef3;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    align-items: center;
    color: white;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
}

#paginacion a:hover{
    cursor: pointer;
    background-color: rgb(248, 90, 64);
}

.paginaSeleccion{
    background-color: rgb(248, 90, 64) !important;
}



@media (max-width: 1200px){


    .container{
        max-width: 100%;
    }

    .sessionCategory, #result, #resultCategory{
        width: 90%;
        margin: 10px auto;
    }

    .articleView{
        width: 120px;
        margin: 20px 30px;
    }
}





@media (max-width: 1100px){

    .sessionCategory div img{
        width: 80px;
        height: 80px;
    }

    .nameView{
        font-weight: 700;
        font-size: 14px;
        max-height: 40px;
    }

    .descripcionView{
        font-size: 12px;
    }

    .priceView{
        font-size: 17px;  
    }

    .articleView{
        width: 90px;
        margin: 20px 30px;
    }
}


@media (max-width: 870px){
    #represion{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 800px){

    .sessionCategory{
        padding-bottom: 14px;
    }

    .sessionCategory .tituloCategory{
        font-size: 16px;
        font-weight: 500;
    }

    .sessionCategory div img{
        width: 70px;
        height: 70px;
    }

    .nameView{
        font-weight: 700;
        font-size: 14px;
    }

    .descripcionView{
        font-size: 11px;
        max-height: 36px;
    }

    .priceView{
        font-size: 14px;  
    }

    .vacio{
        font-size: 12px;
    }

    .articleView:hover{
        cursor: pointer;
        color: inherit;
    }

    .articleView:active{
        color: rgb(248, 90, 64);
    }

    #paginacion a{
        background-color: #037ef3;
        width: 30px;
        height: 30px;
    }
}


@media (max-width: 680px){
    #represion{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width: 600px){

    .sessionCategory{
        padding-bottom: 10px;
    }

    .sessionCategory .tituloCategory{
        font-size: 15px;
        font-weight: 500;
    }

    .sessionCategory div img{
        width: 60px;
        height: 60px;
    }

    .nameView{
        font-weight: 700;
        font-size: 12px;
        max-height: 36px;
    }

    .descripcionView{
        font-size: 10px;
        max-height: 30px;
    }

    .priceView{
        font-size: 15px;  
    }

    .vacio{
        font-size: 11px;
    }

    .articleView{
        width: 70px;
        margin: 10px 20px;
    }
}




@media (max-width: 400px){

    .sessionCategory .tituloCategory{
        font-size: 15px;
        font-weight: 500;
    }

    .sessionCategory div img{
        width: 60px;
        height: 60px;
    }

    .nameView{
        font-weight: 700;
        font-size: 12px;
        max-height: 36px;
    }

    .descripcionView{
        font-size: 10px;
        max-height: 30px;
    }

    .priceView{
        font-size: 15px;  
    }

    
    .articleView{
        width: 70px;
        margin: 10px 15px;
    }
}

@media (max-width: 300px){
    #represion{
        grid-template-columns: 1fr 1fr;
    }
}