.content h1{
    color:#4a4a4a;
    position:relative;
    left: 5%;
    top: 5%;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.add{
    position:relative;
    top: 5%;
    left: 5%;
    width: 70vmax;
    display: flex;
    flex-wrap: wrap;
}

input{
    display: block;
    padding-left: 1vmax;
    width: 22vmax;
    height: 40px;
    border: none;
    outline: none;
    font-size: .9rem;
    font-weight:500;
    font-family: "Poppins", sans-serif;
    color:#4a4a4a;
    border: 1px solid rgb(175, 175, 175);
    margin: 0 10px 10px 0;
    box-shadow: 1px 2px 2px rgb(226, 226, 226);
}


#label{
    font-size: .9rem;
    display: block;
    padding-left: 1vmax;
    width:  10.3vmax;
    height: 30px;
    border: none;
    outline: none;
    font-weight:400;
    font-family: "Poppins", sans-serif;
    color:#4a4a4a;
    border: 1px solid rgb(175, 175, 175);
    margin: 0 10px 10px 0;
    box-shadow: 1px 2px 2px rgb(226, 226, 226);
}

input[name='añadir']{
    position: relative;
    padding-left: 0;
    vertical-align: middle;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color:#037ef3;
    font-size: 1rem;
    font-weight:500;
    font-family: "Poppins", sans-serif;
    color:white;
    margin: 10px 0;
    box-shadow: 1px 2px 2px rgb(226, 226, 226);
}


textarea{
    width: 50%;
    color:#4a4a4a;
    position: relative;
    font-size: .9rem;
    font-weight:500;
    font-family: "Poppins", sans-serif;
    height: 140px;
    size: none;
    resize: none;
    left: 0%;
    padding-left: 1vmax;
    padding-right: 1vmax;
    padding-top: .3vmax;
    outline: none;
    border: 1px solid rgb(175, 175, 175);
    box-shadow: 1px 2px 2px rgb(226, 226, 226);
}

textarea::placeholder{
    color:#9a9a9a;
}

.empty{
    border: rgb(255, 94, 94) 2px solid !important;
}

input::placeholder{
    color:#9a9a9a;
}

.empty::placeholder{
    color:rgb(255, 94, 94);
}

.conte1{
    width: 40%;
}

.conte2{
    width: 60%;
    margin-left: -5%;
}

.add div div{
    display: inline-flex;
    width: fit-content;
    margin: 0 10px 0 0;
}

.optionSelect{
    width: 100px;
    display: inline-flex;
}

select{
    font-size: .8rem;
    outline: none;
    width:  10.3vmax;
    height: 30px;
    padding-left: 10px;
    border: 1px solid rgb(175, 175, 175);
    box-shadow: 1px 2px 2px rgb(226, 226, 226);
}

select option{
    outline: none;
}

#añadir:hover, #loadFileXml:hover{
    cursor: pointer;
    background-color: #f85a40;
}

#loadFileXml{
    padding-left: 0rem;
    vertical-align: middle;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #037ef3;
    font-size: 1rem;
    font-weight:500;
    font-family: "Poppins", sans-serif;
    color:white;
    margin: 10px 10px 0 0;
}

.error{
    color:#4a4a4a;
    position:relative;
    left: 5%;
    top: 5%;
    color: rgb(255, 94, 94);
    margin-bottom: 10px;
}

.true{
    color:#4a4a4a;
    position:relative;
    left: 5%;
    top: 5%;
    color: rgb(71, 218, 103);
    margin-bottom: 10px;
}

#getContainer{
    width: 60vw;
    color:#4a4a4a;
    position:relative;
    left: 5%;
    top: 20px;
    margin-bottom: 10px;   
}

table{
    border-collapse: collapse;
    box-shadow: 1px 3px 2px rgb(226, 226, 226);
}


th{
    font-size: .8rem;
    padding: 1vmax;
}

td{
    width: 9vmax;
    padding: 1vmax 0;
    padding-left: 1vmax;
    font-size: .8rem;
}

tr:nth-child(even){
    background-color: #d2e2ff;

}

tr:nth-child(1){
    border-top: 1px rgb(175, 175, 175) solid;
    background-color: #f85a40;
}

tr:last-child{
    border-bottom: 1px rgb(175, 175, 175) solid;
}

td:last-child, th:last-child{
    border-right: 1px rgb(175, 175, 175) solid;
}

td:nth-child(1), th:nth-child(1){
    border-left: 1px rgb(175, 175, 175) solid;
}

.eliminar, .editar{
    padding-left: 0;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color:none;
    background: none;
    font-size: .8rem;
    font-weight:500;
    font-family: "Poppins", sans-serif;
    color:#037ef3;
    margin: auto;
    box-shadow: none;
}

.eliminar:hover, .editar:hover{
    color: #f85a40;
    cursor: pointer;
}

#paginacion{
    width: 40%;
    height: 50px;
    margin: 40px 0;
    margin-top: 40px;
    margin-left: 10%;
    display: block;
    overflow: hidden;
    text-align: center;
}

#paginacion a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    width: 40px;
    height: 40px;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    background-color: #037ef3;
    margin:0 10px;
    display: inline-flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    border: none;
    box-shadow: 1px 3px 2px rgb(226, 226, 226);
}

#selectionHref{
    background-color:#f85a40 !important ;
}

#paginacion a:hover{
    background-color: #f85a40;
}

.quitarPadding{
    padding-left: 0;
}



@media (max-width: 760px){

    #getContainer{
        width: 70vw;  
        overflow-x: auto; 
    }
}



@media (max-width: 680px){

    #getContainer{
        width: 90vw;
    }

    input[name='añadir']{
        width: 80px;
        height: 30px;
        font-size: .8rem;
    }

    #loadFileXml{
        width: 110px;
        height: 30px;
        font-size: .8rem;
    }

    #paginacion a{
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        width: 30px;
        height: 30px
        }
    
}

