@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
margin: 0 0;
padding: 0 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: block;
}

.menu_horizontal{
    width: 20vw;
    height: 100vh;
    background-color: #396fcc;
    position: fixed;
}



.content{
    width: 80vw;
    height: fit-content;
    position: relative;
    left: 20vw;
    padding-top: 30px;
}

.menu_horizontal a{
    font-style: normal;
    text-decoration: none;
    width: 100%;
    color: white;
    padding: 20px 0;
    padding-left: 50px;
    display: flex;
    font-weight: 400;
    border-bottom: 1px solid #4a4a4a;
}

.menu_horizontal a:hover{
    color:#4a4a4a;
    background-color: #4da967;
    cursor: pointer;
}

.menu_horizontal .selection{
    color:#4a4a4a;
    background-color: #4da967;
}